* {
    font-family: sans-serif;
}

.itemMenu {
    width: 1000px;
    background-color: #eee;
    margin: 0 auto;
    
}

.itemBlock {
    width: 350px;
    background-color: #ddd;
}

.itemTitle {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
    background-color: #ccc;
    padding: 5px;
}

.itemDescription {
}

.itemPrice {
    direction: rtl;
}

.itemBlock:hover {
    opacity: 0.5;
    cursor: pointer;
}